footer{
    .container{

    
        background-color: black;
        height: 25rem;
        
        h1{
            color: white;
        }
        p{
            color: white;
        }
    }
}


